<!-- <mat-sidenav-container> -->
<mat-card class='light' style="height: 100%;">

  <mat-card-header>
    <mat-card-title class="view-card-title">
      <h1>{{pageTitle }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-toolbar class="primary">
    <mat-toolbar-row>
      <button mat-mini-fab style="margin-right:10px; background-color:#e07c9e" [routerLink]="['/farms/edit/', 0]">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab style="margin-right:10px; background-color:#a28b6e" (click)="sidenav.toggle()">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-mini-fab style="margin-right:10px; background-color:darkgray" (click)="reset()">
        <mat-icon>refresh</mat-icon>
      </button>

      <span class="title-spacer"></span>
      <mat-form-field appearance="standard" class="search-form-fileld">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-icon>filter_list</mat-icon>
      </mat-form-field>

    </mat-toolbar-row>
  </mat-toolbar>

  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="owner_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Owner Name </mat-header-cell>
      <mat-cell *matCellDef="let farm"> {{farm.owner_name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="bird_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Bird Type </mat-header-cell>
      <mat-cell *matCellDef="let farm"> {{farm.bird_name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="breed_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Breed Name </mat-header-cell>
      <mat-cell *matCellDef="let farm"> {{farm.breed_name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="housing_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Housing Type </mat-header-cell>
      <mat-cell *matCellDef="let farm"> {{farm.housing_name }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="food_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Food Type </mat-header-cell>
      <mat-cell *matCellDef="let farm"> {{farm.food_name }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="farm_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Farm Name </mat-header-cell>
      <mat-cell *matCellDef="let farm"> {{farm.farm_name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="num_of_breeds">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Number Of Birds </mat-header-cell>
      <mat-cell *matCellDef="let farm"> {{farm.num_of_breeds | number }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="start_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </mat-header-cell>
      <mat-cell *matCellDef="let farm"> {{getDate(farm.start_date) | date:'MM/dd/yyyy' }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef style="justify-content:right;">
        <!-- <button mat-button style="color:white; background-color:darkgrey" (click)="resetListFilter()">Reset</button> -->
      </mat-header-cell>
      <mat-cell *matCellDef="let customer" style="justify-content:right;">
        <button mat-mini-fab style="background-color:teal; min-height: 30px;   margin: 5px;"
          [routerLink]="['/farms/edit/', customer.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab style="background-color:lightblue; min-height: 30px;  margin: 5px;"
          (click)="openDialog(customer.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10]">
  </mat-paginator>
</mat-card>

<mat-sidenav class="search-panel" position="end" dark #sidenav mode="push" opened="false">
  <mat-card class="profile-card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <mat-icon>search</mat-icon>
      </div>
      <mat-card-title>
        Advanced Search
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-nav-list style="margin-left:50px;">
    <mat-form-field appearance="standard">
      <mat-label>Owner Name</mat-label>
      <input matInput appearance="standard" placeholder="Owner Name" name="owner_name"
        [(ngModel)]="searchFilter.owner_name" />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Farm Name</mat-label>
      <input matInput placeholder="Farm Name" name="farm_name" [(ngModel)]="searchFilter.farm_name" #reference />
    </mat-form-field>

  </mat-nav-list>
  <mat-divider></mat-divider>
  <mat-card-header>
    <mat-action-list>
      <button mat-raised-button style="color:lightgrey; background-color:darkgreen; margin:5px;"
        (click)="searchFarms(searchFilter);sidenav.toggle()">
        <mat-icon>search</mat-icon>Search
      </button>
      <button mat-raised-button style="color:lightgrey; background-color:darkred;margin:5px;"
        (click)="resetSearchFilter(sidenav)">
        <mat-icon>refresh</mat-icon>Reset
      </button>
    </mat-action-list>
  </mat-card-header>
</mat-sidenav>
<!-- </mat-sidenav-container> -->
